{% load static %}
<html>

<head>
  <title>APX Signup</title>
  <link rel="stylesheet" href="{% static 'webgui/lib/spectre.min.css' %}">
  <link rel="stylesheet" href="{% static 'webgui/lib/spectre-exp.min.css' %}">
  <link rel="stylesheet" href="{% static 'webgui/lib/spectre-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'webgui/style.css' %}">
</head>

<body>
  <img class="backdrop" style="background-image: url({% static 'webgui/backdrop.jpg' %})">

  <form class="form">
    <div class="logo-parent">
      <img src="{% static 'webgui/logo.png' %}">
    </div>
    {% csrf_token %}
    <h1>
      Entry signup
    </h1>
    <div class="form-group instance-name-parent">
      <span class="label">{{instance_name}}</span>
    </div>
    <div class="form-group">
      Team: <span class="label">{{entry.team_name}}</span>
    </div>
    <div class="form-group">
      Vehicle number: <span class="label">{{entry.vehicle_number}}</span>
    </div>
    <div class="form-group">
      Your token for livery submit: <span class="label label-success">{{token}}</span>
    </div>
    <div class="form-group">
      <a href="/rules" target="_blank">Rules/ Usage conditions</a>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
</body>

</html>